server {
    return 404;
}

server {
    listen 80;
    server_name bookcheck.kr www.bookcheck.kr api.bookcheck.kr;

    charset utf-8;
    client_max_body_size 128M;

    location / {
        include proxy_params;
        proxy_pass http://unix:/tmp/gunicorn.sock;
    }

    location /static/ {
        alias /srv/bookcheck/.static/;
    }
}